/*
Copyright 2023 UnicornyRainbow

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

SPDX-License-Identifier: AGPL-3.0-or-later
*/

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--window-bg-color);
    color: var(--window-fg-color);
    border: none;
    font-size: medium;
    font-family: sans-serif;
}

body {
    background: var(--window-bg-color);
    color: var(--window-fg-color);
}

h1 {
    font-size: 2.5em;
}
h2 {
     font-size: 2em;
}
h3 {
      font-size: 1.5em;
}

.input-bg {
    width: max-content;
    height: max-content;
    border-radius: 6px;
    background: var(--button_bg_color);
}
.input-bg.flat {
    background: inherit;
}

button {
    padding: 8px 15px;
    border-radius: 6px;
    background: none;
}
.input-bg.flat button:hover, .input-bg.flat button.toggled {
    background: var(--button_bg_overlay_1);
}
button:hover, .input-bg.flat button:active, .input-bg button.toggled, .input-bg.flat button.toggled:hover {
    background: var(--button_bg_overlay_2);
}
.input-bg button.toggled:hover {
    background: var(--button_bg_overlay_3);
}
button:active, .input-bg button.toggled:active, .input-bg.flat button.toggled:active {
    background: var(--button_bg_overlay_4);
}


