*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--window-bg-color);
    color: var(--window-fg-color);
}

body{
    background: var(--window-bg-color);
    color: var(--window-fg-color);
}

button{
    background: var(--);
}