<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="colors.css">
    <link rel="stylesheet" type="text/css" href="base_elements.css">
</head>
<body>
    Test
    <h1>Test</h1>
    <h2>Test</h2>
    <h3>Test</h3>
    <div style="background: var(--view-bg-color)">
        <div class="input-bg">
            <button class="">Test</button>
        </div>
        <div class="input-bg flat" style="background: var(--accent-bg-color)">
            <button class="">Test</button>
        </div>
    </div>
</body>
</html>