<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="colors.css">
    <link rel="stylesheet" type="text/css" href="base_elements.css">
</head>
<body style="">
    Test
    <h1>Test</h1>
    <h2>Test</h2>
    <h3>Test</h3>
    <div style="background: var(--view-bg-color); padding: 10px;">
        <div class="input-bg flat">
            <button class="button">Test</button>
        </div>
        <br><br><br>
        <div class="input-bg" style="background: var(--accent-bg-color)">
            <button class="button"><a>Test</a></button>
        </div>
        <br><br><br>
        <div class="input-bg flat">
            <button class="button">Test</button>
        </div>
        <br><br><br>
        <div class="input-bg" style="background: var(--accent-bg-color)">
            <button class="button"><a>Test</a></button>
        </div>
        <br><br><br>
    </div>
</body>
</html>